# Default ignored files
/../../Ejercicio4./.idea/shelf/
/../../Ejercicio4./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Ejercicio4./.idea/httpRequests/
# Datasource local storage ignored files
/../../Ejercicio4./.idea/dataSources/
/../../Ejercicio4./.idea/dataSources.local.xml
